ignore-engines true
--install.ignore-engines true

# Faster/more reliable than registry.yarnpkg.com in some networks (Docker/CI)
registry "https://registry.npmjs.org"

# Retry longer on slow or unstable connections
network-timeout 600000
